<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4 footer-class">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Tổng công ty đường sắt Việt Nam</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="fa fa-map-marker"></span><span class="text">: 118 Lê Duẩn, Bến
                                    Nghé, quận 1,
                                    TP.HCM</span></li>
                            <li><a href="#"><span class="fa fa-phone"></span><span
                                        class="text">: 0123456998</span></a></li>
                            <li><a href="#"><span class="fa fa-envelope"></span><span
                                        class="text">: info@yourdomain.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <div class="block-21 mb-3 d-flex">
                        <div class="text">
                            <hr>
                            <hr>
                            <hr>
                            <hr>
                            <h3 class="heading"><a href="#">Trang chủ</a></h3>
                            <h3 class="heading"><a href="#">Tìm vé</a></h3>
                            <h3 class="heading"><a href="#">Tra cứu vé</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <div class="block-21 mb-4 d-flex">
                        <div class="text">
                            <hr>
                            <hr>
                            <hr>
                            <hr>
                            <h3 class="heading"><a href="#">Trả vé</a></h3>
                            <h3 class="heading"><a href="#">Quy định</a></h3>
                            <h3 class="heading"><a href="#">Liên hệ</a></h3>
                        </div>
                    </div>
                    
                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5" >
                    <li class="fa fa-twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li class="fa fa-facebook"><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li class="fa fa-instagram"><a href="#"><span class="fa fa-instagram"></span></a></li>
                  </ul>
                </div>

            </div>




        </div>

       

    </div>
</footer>