<footer class="ftco-footer ftco-section img" style="margin-top: 30px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4 footer-class">
                    <img src="assets/images/logo.svg" alt="" style="width: 200px; height: 200px;">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4" style="width: 350px;">
                    <h2 class="ftco-heading-2">Tổng công ty đường sắt Việt Nam</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span style="color: #fff;" class="fa fa-map-marker"></span><span style="color: #fff; font-family: Arial, Helvetica, sans-serif;" class="text">: 118 Lê Duẩn, Bến
                                    Nghé, quận 1,
                                    TP.HCM</span></li>
                            <li style="margin-bottom: 0px;"><a href="#"><span class="fa fa-phone"></span><span
                                        class="text" style="font-family: Arial, Helvetica, sans-serif;">: 0123456998</span></a></li>
                            <li><a href="#"><span class="fa fa-envelope"></span><span
                                        class="text" style="font-family: Arial, Helvetica, sans-serif;">: info@yourdomain.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5" style="padding-left: 70px;">
                <div class="ftco-footer-widget mb-4">
                    <div class="block-21 mb-3 d-flex">
                        <div class="text">
                            <h3 class="heading"><a routerLink="/trangchu">Trang chủ</a></h3>
                            <h3 class="heading"><a routerLink="/tim-ve" >Tìm vé</a></h3>
                            <h3 class="heading"><a routerLink="/kiem-tra-ve">Tra cứu vé</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <div class="block-21 mb-4 d-flex">
                        <div class="text">
                            <h3 class="heading"><a routerLink="/tra-ve">Trả vé</a></h3>
                            <h3 class="heading"><a routerLink="/regulations">Quy định</a></h3>
                            <h3 class="heading"><a routerLink="/lien-he">Liên hệ</a></h3>
                        </div>
                    </div>
                    
                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5" >
                    <li class="fa fa-twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li class="fa fa-facebook"><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li class="fa fa-instagram"><a href="#"><span class="fa fa-instagram"></span></a></li>
                   
                  </ul>
                </div>

            </div>




        </div>

       

    </div>
</footer>