<div class="panel panel-warning" style="margin-bottom: 15px;margin-left:15px; margin-right:15px">
    <div class="panel-heading">
        <h3 class="panel-title">Quy định đổi, trả vé</h3>
    </div>
    <div class="panel-body">
        <p>1. Thời gian, mức phí đổi trả vé:</p>
        <p>- Đổi vé: Vé cá nhân đổi trước giờ tàu chạy 24 giờ trở lên, lệ phí là 20.000 đồng/vé, dưới 24 giờ không đổi vé; không áp dụng đổi vé đối với vé tập thể.</p>
        <p>- Trả vé:</p>
        <p>&nbsp; &nbsp; + Vé cá nhân: Trả vé trước giờ tàu chạy từ 24 giờ trở lên lệ phí là 10% giá vé, từ 4 giờ đến dưới 24 giờ lệ phí là 20% giá vé, dưới 4 giờ không trả vé.</p>
        <p>&nbsp; &nbsp; + Vé tập thể: Trả vé trước giờ tàu chạy từ 72 giờ trở lên lệ phí là 10% giá vé ,từ 24 giờ đến dưới 72 giờ lệ phí là 20% giá vé, dưới 24 giờ không trả vé.</p>
        <p>2. Hình thức trả vé.</p>
        <p>- Khi hành khách mua vé và thanh toán online qua website bán vé của ngành Đường sắt, app bán vé hoặc các ứng dụng mua vé tàu hỏa của các đối tác thứ ba thì có thể trả vé online qua các website bán vé của ngành đường sắt hoặc đến trực tiếp nhà ga.</p>
        <p>- Khi hành khách mua vé bằng các hình thức khác, muốn đổi vé, trả vé hành khách đến trực tiếp nhà ga kèm theo giấy tờ tùy thân bản chính của người đi tàu hoặc người mua vé cho nhân viên đường sắt. Đồng thời, thông tin trên thẻ đi tàu phải trùng khớp với giấy tờ tùy thân của hành khách.</p>
        <i>Trân trọng cảm ơn!.</i>
    </div>
</div>
