<div class="et-col-md-12 ng-scope" style="height: 300px; padding-top: 10px;">
    <div>
        <h3 class="ng-binding" style="font-size: 25px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; color:#317eac;"><!--Thông tin liên hệ-->Thông tin liên hệ</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 et-col-md-6">
                <h5 style="color: #e55a05; font-weight: bold; font-size: 18px;" class="ng-binding"><!--Tổng công ty Đường  sắt Việt Nam-->Tổng công ty Đường sắt Việt Nam</h5><br>
                <p class="ng-binding" style="margin-top: -20px;"><!--Số 118 Lê Duẩn, Hoàn Kiếm, Hà Nội.-->118 Lê Duẩn, Bến Nghé, quận 1, TP.HCM</p>
                <p style="display:none;" class="ng-binding">
                    <!--Điện thoại: 19006469--><!--{{'PContact_phone'|translate}}<br />-->
                    <!--Email: dsvn@vr.com.vn.-->Email: dsvn@vr.com.vn.<br>
                </p>
                <p style="font-size:15px;" class="ng-binding">
                    <!--Giấy chứng nhận ĐKKD số 113642 theo QĐ thành lập số 973/QĐ-TTg ngày 25/06/2010 của Thủ tướng Chính phủ.
                    <br /><br /> Mã số doanh nghiệp: 0100105052, đăng ký lần đầu ngày 26/07/2010, đăng ký thay đổi lần 4 ngày 27/06/2014 tại Sở KHĐT Thành phố Hà Nội.-->
                    Giấy chứng nhận ĐKKD số 113642 theo QĐ thành lập số 973/QĐ-TTg ngày 25/06/2010 của Thủ tướng Chính phủ.
                    <br><br>
                    Mã số doanh nghiệp: 0100105052, đăng ký lần đầu ngày 26/07/2010, đăng ký thay đổi lần 4 ngày 27/06/2014 tại Sở KHĐT Thành phố HCM.
                </p>
            </div>            
            <div class="col-xs-12 col-sm-6 et-col-md-6">
                <h5 style="color: #e55a05; font-weight: bold; font-size: 18px;" class="ng-binding"><!--Tổng đài hỗ trợ khách hàng-->Tổng đài hỗ trợ khách hàng</h5>
                <p class="ng-binding">Điện thoại: 19006469</p>
                <p style="display:none;" class="ng-binding"><!--Khu vực miền Bắc: <label>1900 0109</label>-->Khu vực miền Bắc: 1900 0109</p>
                <p style="display:none;" class="ng-binding"><!--Khu vực miền Nam: <label>1900 1520</label>-->Khu vực miền Nam: 1900 1520</p>
                <p>Email: support1@dsvn.vn<br>
                <span style="visibility: hidden;">Email: </span>support2@dsvn.vn</p>
            </div>
        </div>
        
    </div>
    <div class="et-col-md-3">

    </div>    
</div>


<app-notifications></app-notifications>
