<div class="content" style="height: 400px; width: 100%; ">
    <div class="et-col-md-12 ng-scope" >
        <div>
            <div class="row et-page-header">
                <span class="et-main-label">
                    <strong class="ng-binding">CÁC QUY ĐỊNH<!--Các quy định--></strong>
                </span>
            </div>
            <div>
                <div class="list-group">
                    <div class="list-group-item">
                        <span class="badge" style="float: left;">1</span> &nbsp; 
                        <a style="font-size: 25px;" href="/#/pages/dieukienvadieukhoan" class="ng-binding">Các Điều Kiện &amp; Điều Khoản<!--Các Điều Kiện & Điều Khoản--></a>
                    </div>
                    <div class="list-group-item">
                        &nbsp; &nbsp; <a style="font-size: 25px;"  href="/#/pages/quydinhvanchuyen">1.1. Quy định vận chuyển</a>
                    </div>
                    <div class="list-group-item">
                        &nbsp; &nbsp; <a style="font-size: 25px;" href="/#/pages/dieukiensudunghethong">1.2. Điều kiện sử dụng hệ thống mua vé trực tuyến</a>
                    </div>
                    <div class="list-group-item">
                        &nbsp; &nbsp; <a style="font-size: 25px;" href="/#/pages/dienkiensudungwebsite">1.3 Điều khoản sử dụng website dsvn.vn</a>
                    </div>
                    <div class="list-group-item">
                        <span class="badge" style="float: left;">2</span> &nbsp;
                        <a style="font-size: 25px;" href="/#/pages/phuongthucthanhtoan" class="ng-binding">Phương thức thanh toán<!--Phương thức Thanh toán--></a>
                    </div>
                    <div class="list-group-item">
                        <span class="badge" style="float: left;">3</span> &nbsp;
                        <a style="font-size: 25px;" href="/#/pages/chinhsachhoantra" class="ng-binding">Chính sách hoàn trả vé<!--Chính sách hoàn trả vé--></a>
                    </div>
                    <!--<div class="list-group-item">
                        &nbsp; &nbsp; <a href="/#/pages/dieukienvadieukhoan">3.1. Quy định hoàn trả vé</a>
                    </div>
                    <div class="list-group-item">
                        &nbsp; &nbsp; <a href="/#/pages/dieukienvadieukhoan">3.2. Các bước thực hiện trả vé</a>
                    </div>
                    <div class="list-group-item">
                        &nbsp; &nbsp; <a href="/#/pages/dieukienvadieukhoan">3.3. Quy trình hoàn tiền về tài khoản</a>
                    </div>-->
                    <div class="list-group-item">
                        <span class="badge" style="float: left;">4</span> &nbsp;
                        <a style="font-size: 25px;" href="/#/pages/chinhsachbaomat" class="ng-binding">Chính sách Bảo Mật Thông Tin<!--Chính sách Bảo Mật Thông Tin--></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>